*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: url(../img/register1.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
}
.menu{
    position: fixed;
    overflow: hidden;
}
.menu img{
    margin: 5px 0 0 40px;
    float: left;
}
.menu h1{
    margin: 20px 0 0 10px;
    float: left;
    color: white;
    font-size: 35px;
}
.menu h1 a{
    text-decoration: none;
    color: white;
}
ul{
    float: right;
    margin: 25px 50px 0 0;
}
ul li{
    font-size: 20px;
    color: white;
    padding-left: 20px;
    display: inline;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li i{
    padding-right: 5px;
    color: goldenrod;
}
.container{
    background: linear-gradient(to top, rgba(247, 247, 248, 0.493), rgba(166, 161, 228, 0.733), rgba(112, 92, 221, 0.568));
    height: 500px;
    width: 600px;
    margin: 80px 0 0 700px;
    border-radius: 100px;
    text-align: center;
}
.register{
    
}