*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: linear-gradient(to top, rgba(247, 247, 248, 0.493), rgba(166, 161, 228, 0.733), rgba(112, 92, 221, 0.568));
}
header{
    background-image: url(../img/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}
.container{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.493), rgba(70, 64, 156, 0.733), rgb(9, 3, 43));
    height: 100vh;
}
.menu{
    position: fixed;
    height: 75px;
    overflow: hidden;
    background-color: rgb(4, 57, 107);
}
.menu img{
    margin: 5px 0 0 40px;
    float: left;
    width: 5%;
}
.menu h1{
    margin: 20px 0 0 10px;
    float: left;
    color: white;
    font-size: 35px;
}
.menu h1 a{
    text-decoration: none;
    color: white;
}
ul{
    float: right;
    margin: 25px 50px 0 0;
}
ul li{
    font-size: 20px;
    color: white;
    padding-left: 20px;
    display: inline;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li i{
    padding-right: 5px;
    color: goldenrod;
}
.utama{
    float: left;
}
.utama img{
    width: 40%;
    float: left;
    margin-left: 20px;
}
.utama h1{
    color: white;
    font-size: 32px;
    margin-top: 150px;
}
.utama h1 i{
    padding-right: 5px;
    color: goldenrod;
}
.utama p{
    color: white;
    margin-top: 10px;
    text-indent: 20px;
    font-size: 25px;
}
.register{
    margin-top: 40px;
}
.register .daftar{
    display: inline;
    border: 2px black solid;
    border-radius: 20px;
    padding: 6px 30px;
    background-color: rgba(90, 114, 3, 0.877);
    margin-left: 20px;
}
.register .daftar a{
    font-family: cursive;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: black 2px 2px;
}
.register .login{
    display: inline;
    border: 2px black solid;
    border-radius: 20px;
    padding: 6px 40px;
    margin-left: 20px;
}
.register .login a{
    font-family: cursive;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: black 2px 2px;
}
.slide .tengah{
    margin: auto;
    background-color: darkorange;
    height: 300px;
    margin-top: 20px;
    width: 80%;
}
.data{
    height: 260px;
    width: 80%;
    margin: auto;
}
.data .kotak1, .data .kotak2, .data .kotak3, .data .kotak4{
    background-color: rgba(255, 255, 255, 0.747);
    height: 220px;
    width: 220px;
    float: left;
    margin: 20px 24px 0 24px;
}
.data .kotak1 i{
    color: rgb(4, 57, 107);
    font-size: 70px;
    padding: 15% 34% 5% 34%;
}
.data .kotak2 i{
    color: rgb(4, 57, 107);
    font-size: 70px;
    padding: 15% 30% 5% 30%;
}
.data .kotak3 i{
    color: rgb(4, 57, 107);
    font-size: 70px;
    padding: 15% 32% 5% 32%;
}
.data .kotak4 i{
    color: rgb(4, 57, 107);
    font-size: 70px;
    padding: 15% 36% 5% 36%;
}
.data p{
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px white;
}
.berita{
    height: 60vh;
    width: 80%;
    margin: auto;
}
.berita h3{
    margin-top: 20px;
    background-color: blue;
    width: 20%;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    color: white;
}
.box1, .box2, .box3{
    width: 280px;
    height: 43vh;
    float: left;
    margin: 20px 38px 0 38px;
    background: white;
}
.box1 img, .box2 img, .box3 img{
    width: 249px;
    padding: 0 10px;
    height: 150px;
}
.box1 p, .box2 p, .box3 p{
    padding: 0 20px 0 20px;
}
h4{
    background-color: blue;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    width: 10%;
    border-radius: 50px;
    
}
.kegiatan{
    height: 60vh;
    width: 90%;
    margin: auto;
}
.kegiatan h3{
    margin-top: 20px;
    background-color: blue;
    width: 20%;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    color: white;
}
.col-1, .col-2, .col-3, .col-4{
    width: 263px;
    height: 43vh;
    float: left;
    margin: 20px 20px 0 20px;
    background: white;
}
.col-1 img, .col-2 img, .col-3 img, .col-4 img{
    width: 249px;
    padding: 0 10px;
    height: 150px;
}
.col-1 p, .col-2 p, .col-3 p, .col-4 p{
    padding: 0 20px 0 20px;
}
h4{
    background-color: blue;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    width: 10%;
    border-radius: 50px;
    
}
footer{
    background-color: blue;
    height: 200px;
    margin-top: 50px;
}
.footer{
    width: 80%;
    margin: auto;
}
.footer .bagian1, .footer .bagian2, .footer .bagian3{
    width: 30%;
    margin: 40px 17px 0 17px;
    text-align: justify;
    float: left;
}
.footer h3{
    padding-bottom: 20px;
    color: white;
}
.footer p{
    color: white;
}